body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("Home\ -\ Dark\ -\ 1.jpg");
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

.primeira-section-centro {
    text-align: center;
    
}

.horario {
    font-weight: 200;
    font-size: 80px;
    line-height: 95px;
    text-align: center;
    letter-spacing: -0.007px;
    color: #FFFFFF;
    margin-top: -10px;
}

.data {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -2.2888px;
    color: #FFFFFF;
    margin-top: -70px;
}

.segunda-section-final {
    display: flex;
    justify-content: space-around;
    margin-top: 500px;
}

.footer-barra {
    text-align: center;
    margin-top: 2em;
}

.social {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 37px;
    margin-top: -80px;
    margin-left: 1em;
}

.primrira-setion-apps {
    margin-left: 1.8em;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 50% 50% 50%;
    grid-column-gap: 0.8em;
}

